<h1>Testez vous</h1>
<% @quizzes.each do |quiz| %>
  <div class="quizz-cards-index">

  <%# <div class="progress">
    <div class="progress-content">
      <div class="progress-value"></div>
    </div>
    <p>80%</p>
  </div> %>
  <% @quizz_questions = quiz.questions %>
  <% @good_answers = [] %>
  <% @quizz_questions.each do |quizz_question| %>
    <% if quizz_question.answers.empty? %>
    <% elsif quizz_question.answers[0].status == true %>
      <% @good_answers << quizz_question %>
    <% end %>
  <% end %>
  <div class="progress-container-quizz">
    <div class="progress-bar-full" style ="width: 25%">
      <div class="master-progress" style="width: 0%"></div>
    </div>
    <p><%= (@good_answers.count / @quizz_questions.count) * 100  %>%</p>
  </div>

    <div class="quizz-cards-content">
      <h3>Quizz</h3>
      <h2><%= quiz.name  %></h2>
    </div>
    <div class="start-button">
      <% questions = quiz.questions %>
      <% bad_questions = [] %>
      <% un_answers_questions = [] %>
      <% questions.each do |question| %>
        <% if question.answers.empty? %>
          <% un_answers_questions << question %>
        <% elsif question.answers[0].status == false %>
          <% bad_questions << question %>
        <% end %>
      <% end %>
      <% if !un_answers_questions.empty? %>
        <% @next_question = un_answers_questions.sample %>
      <% elsif !bad_questions.empty?%>
        <% @next_question = bad_questions.sample %>
      <% else %>
        <% @next_question = questions.sample %>
      <% end %>
      <%= link_to "DEMARRER", question_path(@next_question) %>
    </div>
  </div>
<% end %>


<script>
  const all_questions = <%= @quizz_questions.count %>
  const good_questions = <%= @good_answers.count %>
</script>
