<div class="filter">
  <div class="filtrer">
    <h2 class="filtre-text">Filtrer vos cours</h2>
    <h3 class="btn-filtre" id="tous">Tous</h3>
    <h3 class="btn-filtre" id="en-cours">En cours </h3>
    <h3 class="btn-filtre" id="termines">Terminés</h3>
  </div>
  <%= render 'form_duration' %>
</div>




<div class="cards">
  <% @courses.each do |course| %>
      <div class = "card-product">
        <%= cl_image_tag course.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-product-infos">
          <h2><%= course.title %></h2>
          <ul class= "card-online">
            <li>
              <div class = "alignement m-3">
                <% if course.difficulty == "Difficile" %>
                    <i class="fas fa-hammer active"></i> <i class="fas fa-hammer active"></i> <i class="fas fa-hammer active"></i>
                <% elsif course.difficulty == "Intermédiaire" %>
                    <i class="fas fa-hammer active"></i> <i class="fas fa-hammer active"></i></i> <i class="fas fa-hammer inactive"></i>
                <% else %>
                    <i class="fas fa-hammer active"></i> <i class="fas fa-hammer inactive"></i> <i class="fas fa-hammer inactive"></i>
                <% end %>
                <p>Difficulté</p>
              </div>
            </li>
            <li><p id="style"> <%= course.duration %> min</p></li>
          </ul>
          <%= link_to 'DÉMARRER', course_path(course), class: "btn-cours" %>
        </div>
      </div>
  <% end %>
</div>
