<div class = "style">
  <h1><%= @course.title %></h1>
  <div class = "video">
    <iframe width="100%" height="520" src="https://www.youtube.com/embed/SDEZM7q1yj4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

<div class="course-content">
  <h1>Comment choisir son revêtement de sol ?</h1>
  <div class="start_bubble">
    <p>Chaque type de sol a ses propriétés et se qualités particulières mais le choix d'un revêtement de sol est avant tout esthétique et doit s'adapter à la pièce où il sera posé.
      Plusieurs solutions sont possibles et se choisissent en fonction des envies mais aussi du budget et des contraintes techniques.</p>
  </div>


  <h2>Tous les types de revêtement de sol intérieur</h2>
  <p>Il existe de nombreux types de sol : carrelage, parquet, sol stratifié, sol pvc, moquette ou sol en fibres naturelles. Chaque revêtement a des caractéristiques particulières.</p>

  <h3>Le carrelage</h3>
  <div class="course-content-double">
    <img src="https://media.leroymerlin.fr/Capture/bf/f3/b466a03447c7b624417fac265ce9/carrelage-sol-et-mur5ee76842fb87ae000932eb70.jpg?width=600&quality=75" alt="">
    <div>
      <p>Le <strong>carrelage</strong> est un revêtement de sol robuste et facile d'entretien. Il peut embellir toutes les pièces de la maison grâce à une multitude de décors, de styles, de formats et d'aspects proposés. Il offre de nombreux avantages :</p>
      <ul>
        <li><p>Il est <strong>hygiénique</strong> et facile à entretenir.</p></li>
        <li><p>Il est <strong>résistant</strong> dans le temps.</p></li>
        <li><p>Ses différents formats sont adaptés à toutes les tailles de pièces : de la <strong>mosaïque au format XXL</strong>, carrés, rectangulaires ou octogonaux.</p></li>
        <li><p>De nombreuses <strong>couleurs et aspects</strong> sont disponibles : des tons pastel et clairs (beige, gris, grège) aux <strong>tonalités les plus sombres</strong> (ex : ardoise) sans oublier les <strong>carrelages imitation matières</strong> : béton, bois, pierre ou carreaux de ciment…</p></li>
        <li><p>Son <strong>toucher lisse</strong> et froid est à prendre en compte selon la pièce de destination.</p></li>
      </ul>
    </div>
  </div>


  <div class="info_bubble">Lire l’article « Comment choisir son carrelage de sol intérieur ? »</div>

  <h3>Le parquet</h3>
  <div class="course-content-double">
    <div>
      <p>Le parquet est un investissement durable. Il résiste au temps et peut être rénové plusieurs fois (ponçage, vitrificateur ou huile). Il existe plusieurs <strong>types de finitions</strong> pour le parquet :</p>

      <ul>
        <li><p>Le<strong>parquet brut</strong>, sans finition qui lui permet d'être personnalisé (<strong>cire, huile, vitrificateur, peinture</strong>).</p></li>
        <li><p>Le <strong>parquet vitrifié ou verni</strong> : il a un aspect brillant ou mat. Il est facile d’entretien, et résistant aux rayures et aux tâches.</p></li>
        <li><p>Le <strong>parquet huilé</strong> : il a un aspect authentique et mat. Simple, son entretien doit être régulier.</p></li>
        <li><p>Le <strong>parquet ciré</strong> : il offre une finition traditionnelle et esthétique. Son entretien est plus délicat.</p></li>
      </ul>

      <p>Un parquet à larges lames permet d'agrandir la pièce. Les lames fines allongent visuellement la pièce ou lui donnent du cachet.</p>
    </div>
    <img src="https://media.leroymerlin.fr/Capture/b9/6f/33b0407440048e279a95e4f6622d/parquet5ee76a75c3e94b0008ea19d8.jpg?width=600&quality=75" alt="">
  </div>





  <div class="info_bubble">Lire l’article « Comment choisir son parquet massif ou contrecollé ? »</div>

  <h3>Le sol stratifié</h3>
  <div class="course-content-double">
    <img src="https://media.leroymerlin.fr/Capture/39/0d/50e7e3b04835addc498131d7d371/stratifie5ee76c4cc3e94b0008ea19db.jpg?width=600&quality=75" alt="", style ="width: 307px; height: 307px; margin-right: 0px;">
    <div style ="width: 500px; margin: auto auto;">
      <p>Le sol stratifié est un revêtement de sol composé d'un support de fibres de bois et d'un décor imprimé sur du papier et revêtu d'un film de protection.</p>
      <p>Le stratifié offre de nombreux styles de décoration avec des effets de veinage à la patine, un grand choix de coloris, un aspect blanchi, métal ou béton ciré. Ses formats sont variés et existent en lames standard ou larges et sous formes de dalles à effet béton ou imitation carrelage.</p>
    </div>
  </div>


  <div class="important_bubble">Il existe plusieurs niveaux de résistance aux chocs, au poinçonnement, rayures et produits chimiques.</div>

  <div class="info_bubble">Lire l’article « Comment choisir son sol stratifié ? »</div>

  <h3>Les sols PVC</h3>
  <div class="course-content-double">
    <div>
      <p>Souvent plus <strong>économique, facile à poser et à entretenir,</strong> le <strong>sol en PVC</strong> s'est modernisé en devenant <strong>déco avec ses nombreux coloris, ses motifs originaux et ses imitations de matière.</strong>
      Il est idéal pour des locations, des petites pièces ou en rénovation et sa simplicité de pose le rend accessible aux bricoleurs débutants.
      Il est disponible sous formes de dalles, lames ou rouleaux.</p>


      <ul>
        <li><p>Les dalles et lames adhésives se posent sur un sol lisse.</p></li>
        <li><p>Les dalles et lames à clipser sont prévues pour les sols irréguliers et sont démontables facilement.</p></li>
        <li><p>Les dalles et lames autoplombantes peuvent se poser directement sur un carrelage facilement et rapidement.</p></li>
        <li><p>En rouleau, le sol PVC existe en largeur de 2, 3 ou 4 m.</p></li>
      </ul>
    </div>
    <img src="https://media.leroymerlin.fr/Capture/ff/8e/521fe9194920b1438fe81c2efded/sol-pvc5ee76f9efb87ae000932eb7d.jpg?width=600&quality=75" alt="">
  </div>

  <div style="margin-top: 50px;">

  </div>
  <p>L’aspect d’un revêtement de <strong>sol PVC</strong> est varié et s’adapte à toutes les envies :</p>

  <ul>
    <li><p>Les lames pour un aspect parquet ou béton.</p></li>
    <li><p>Les dalles pour un aspect parquet, béton, pierre, marbre, carreaux de ciment ou métal.</p></li>
    <li><p>Les rouleaux offrent également un choix varié allant de l’aspect pierre à celui d’un parquet, en passant par l’aspect béton ou mosaïque.</p></li>
  </ul>



  <div class="info_bubble">Lire l’article « <strong>Comment choisir son sol PVC ? </strong>» </div>
<%# <div> %>
<%# <h3>La moquette</h3>

  <p>Chaleureuse et confortable, la <strong>moquette</strong> est désormais disponible dans de nombreuses couleurs et dans différentes matières naturelles ou synthétiques.
  Propice à la relaxation, elle est idéale dans les chambres à coucher ou dans les dressings. La moquette offre de nombreux avantages :</p>

  <ul>
    <li><p>Elle est <strong>facile à entretenir</strong>, un simple coup d’aspirateur suffit. Certaines moquettes sont traitées en surface contre les tâches et les salissures.</p></li>
    <li><p>Elle est <strong>isolante</strong>, absorbe les sons et réduit les bruits d'impact et de vibration. Agréable et chaude sous les pieds, elle offre un confort indéniable.</p></li>
    <li><p>Selon l'épaisseur de la moquette, <strong>elle peut se poser sur tous les supports</strong> et les anciens revêtements.</p></li>
    <li><p>Velours, bouclée, shaggy (poils longs) ou tissée plat, la moquette garantit une <strong>ambiance chaleureuse</strong> au quotidien.</p></li>
  </ul>




  <div class="important_bubble">Si la plupart des moquettes sont traitées <strong>anti-acariens et anti-allergènes</strong>, il convient tout de même de bien se renseigner au moment de l'achat en cas d’allergies.</div>

  <div class="info_bubble">Lire l’article « <strong>Comment choisir sa moquette ?</strong> » </div>

  <h3>Le jonc de mer, sisal et coco</h3>

  <p>Décoratifs, les sols en fibres naturelles ont des qualités et des aspects différents : droit, natté, chevrons... Composés de fibres naturelles, ils rendent la pièce saine et procurent un climat positif.
  Leur bon pouvoir isolant permet une <strong>régulation de l'humidité et une bonne absorption des chocs et des bruits.</strong></p>


  <ul>
    <li><p>Le <strong>jonc de mer</strong> est résistant, peu sensible aux taches et imputrescible. Son tissage peut être en chevrons ou en damiers.</p></li>
    <li><p>Le <strong>sisal</strong> existe dans de nombreuses teintes. À tissage plat, son revêtement est doux au toucher.</p></li>
    <li><p>Le <strong>jonc des montagnes</strong> est en tissage classique. Avec sa couleur naturelle, il s’adapte à toutes les décorations.</p></li>
  </ul>




  <h2>Les principaux critères de choix d’un revêtement de sol</h2>

  <p>Différents types de revêtement de sol peuvent être posés dans les pièces de la maison. Cependant, certains sont plus adaptés que d’autres.</p>

  <p>Outre l’aspect esthétique, trois critères sont à prendre en compte pour choisir le bon revêtement de sol.</p>


  <h3>La résistance au passage</h3>

  <p>Dans la maison, certaines pièces comme les couloirs, les pièces à vivre ou la cuisine sont soumises à un passage intensif. Le revêtement choisi doit donc être facile à entretenir et surtout résistant au frottement et à l'abrasion. À l’opposé, le revêtement de sol d’une chambre demande une résistance moins importante puisque le passage y est moins fréquent.</p>


  <h3>La résistance aux tâches</h3>

  <p>Selon les pièces, les risques de taches sur les sols sont plus ou moins élevés. La cuisine est évidemment une pièce sensible ainsi que l’entrée. Le revêtement de sol de ces pièces doit être protégé et non poreux pour éviter d’absorber les taches de gras et d’eau et surtout facile à nettoyer.</p>

  <h3>La résistance à l'humidité</h3>

  <p>Dans toutes les pièces d'eau comme les salles de bains, toilettes, salle d'eau et cuisine, un revêtement de sol non poreux doit être choisi pour éviter les dégradations dues au contact de l'eau.</p>

  <h2>Quel revêtement de sol choisir pour quelle pièce ?</h2>

  <p>Chaque pièce connaît ses propres besoins - facilité d’entretien, chaleur, déco - et risques – taches, usure, humidité.</p>

  <h3>Revêtement de sol pour la cuisine</h3>

    <ul>
      <li><p>Le carrelage ou les carreaux de ciment sont très résistants aux taches et à l'humidité.</p></li>
      <li><p>Le stratifié est facile d’entretien et résistant.</p></li>
      <li><p>Les sols en PVC sont très résistants aux taches et à l'humidité et simples à entretenir.</p></li>
      <li><p>Le parquet, s’il est vitrifié ou vernis, peut trouver sa place dans une cuisine.</p></li>
    </ul>


  <h3>Revêtement de sol pour le salon</h3>

  <p>Tous les revêtements de sol peuvent être posés dans un salon. Le choix est donc vaste et intéressant.</p>

  <h3>Revêtement de sol de salle de bain</h3>

    <ul>
      <li><p>Le carrelage et les carreaux de ciment résistent très bien à l'humidité.</p></li>
      <li><p>Les sols en PVC sont très résistants à l'humidité et facile à entretenir.</p></li>
      <li><p>Le parquet massif, s’il est en bois exotique ou traité contre l'humidité, s’installe sans problème dans une salle de bain.</p></li>
      <li><p>Le stratifié peut être posé dans une salle de bain s'il est compatible « pièces humides ».</p></li>
    </ul>

  <div class="info_bubble">Lire l’article « <strong>Comment choisir son sol de salle de bains ?</strong> »</div>

  <h3>Revêtement de sol pour les chambres</h3>

  <ul>
    <li><p>La moquette est tout à fait adaptée aux chambres à coucher. Chaleureuse, elle garantit un confort et une ambiance agréable au quotidien. À noter que sa capacité à absorber les sons en fait un choix judicieux dans une chambre d’enfant.</p></li>
    <li><p>Les parquets et stratifiés sont confortables et élégants pour une chambre d’adulte.</p></li>
    <li><p>Les sols en PVC sont faciles d'entretien et offre une bonne isolation phonique et thermique. Ils sont parfaitement adaptés aux chambres d’enfants.</p></li>
  </ul>

  <div class="info_bubble">Voir le diaporama « <strong>Un sol confortable dans la chambre</strong> »</div> %>

  <%# <h2>Quelle pose pour son revêtement de sol ?</h2>
  Il existe différents types de pose, adaptées à chaque revêtement de sol.

  <h3>La pose flottante</h3>
  La pose flottante convient pour les sols stratifiés, lames et dalles pvc à clipser, parquets contrecollés et certains parquets massifs. La pose flottante est rapide et facile. Elle s'effectue directement sur un carrelage, une dalle béton ou même une moquette rase, avec ou sans sous-couche (isolation phonique). Le support doit être plan, propre, stable, sain et sec. Des systèmes de clips sont également possibles.

  Voir le cours « Comment poser du parquet flottant seul ? »

  Pour réduire les bruits d'impact, il est conseillé de prévoir une sous-couche.

  <h3>La pose auto-adhésive</h3>
  La poste auto-adhésive convient pour les lames et dalles auto-adhésives, ainsi que pour certains rouleaux de PVC et de moquette. Les rouleaux de moquette et de PVC se posent avec un adhésif double-face ou des bandes auto-agrippantes pour les rouleaux avec un envers textile.

  Les lames et dalles PVC auto-adhésives se collent sur l'ancien sol. Elles se découpent au cutter et se posent très facilement. Si le sol n'est pas parfaitement lisse (ancien carrelage avec des joins larges), il peut être nécessaire d'effectuer un ragréage.

  Voir le cours « Comment poser des lames ou dalles vinyles auto-adhésives ? »

  <h3>La pose libre</h3>
  La pose libre convient pour certains rouleaux de PVC et certaines moquettes. Les sols PVC en rouleau peuvent se poser sans collage pour des surfaces jusqu'à 30 m² avec des vinyles sol lourds et épais. La moquette adhère au sol par son propre poids. C’est idéal en rénovation ou pour de la location. Ce type de pose est recommandée avec les dossiers en mousse de latex, en feutre aiguilleté jusqu'à 50 m².

  <h3>La pose collée</h3>
  Elle convient pour le carrelage, le parquet, les sols naturels (jonc de mer, sisal) ainsi que pour certains rouleaux de PVC et de moquette.

  La plupart des parquets massifs se posent en pose collée. Pour les moquettes, les sols naturels (jonc de mer, sisal) et les rouleaux de PVC, il convient de choisir une colle adaptée, spécifique à chaque type de revêtement.

  Le carrelage se pose majoritairement en pose collée même s'il existe désormais du carrelage à poser sans colle. Dans ce cas, les carreaux se posent directement sur une sous-couche comprenant des bandes auto-agrippantes.

  Voir le cours « Comment poser du parquet ou un sol stratifié ? »

  <h2>L’entretien des différents revêtements de sol</h2>

  <h3>Entretenir un carrelage, un sol stratifié ou un sol PVC</h3>
  Le carrelage, le stratifié et les sols pvc sont les sols les plus faciles à entretenir. Ils se nettoient avec une serpillère et un produit d'entretien adapté.

  Il existe des produits spécifiques pour les différents types de carrelage : carrelage émaillé, non émaillé, marbre etc.

  <h3>Entretenir un parquet</h3>
  Le parquet se nettoie à l'aide d'un aspirateur, pour retirer la poussière, et d'une serpillère bien essorée. Il faut éviter de laver un parquet à grande eau.

  Voir le cours « Comment entretenir ou rénover un parquet ? »

  <h3>Entretenir une moquette</h3>
  La moquette s'aspire régulièrement pour la débarrasser des saletés. Lorsque la moquette est très sale, il est possible d’opter pour un nettoyage à sec avec de la poudre ou utiliser un shampoing pour moquette.

  Voir le cours « Comment entretenir ou réparer une moquette ? »

  <h3>Entretenir un sol naturel</h3>
  Les sols naturels ne se lavent pas à l’eau mais ils doivent être aspirés régulièrement. Le jonc de mer a besoin d'être humidifié de temps en temps. %>

<%# </div> %>

</div>

  <div class="container-castor">
    <% if @progress.nil? %>
      <div class="image-text-castor">
        <%= image_tag("castor-renonçant-à-des-pouces-89682889.png", id: "image_castor") %>
        <h2> C'est super tu as finis le cours suivant : <strong><%= @course.title %></h2></strong>
      </div>
      <div class="button-finish">
        <%= link_to "J'AI TERMINÉ CE CHAPITRE", course_progresses_path(@course), method: :post %>
      </div>
    <% end %>
  </div>

  <div class="duo-buttons">

    <div class="button-next-finish">
      <% if @prev_course.nil? %>
        <i class="fas fa-chevron-left"></i><%= link_to "Retour aux menus", courses_path %>
      <% else %>
        <i class="fas fa-chevron-left"></i><%= link_to "Revenir au cours précédent", course_path(@prev_course) %>
      <% end %>
    </div>
    <div class="button-next-finish">
      <% if @next_course.nil? %>
        <%= link_to "Faire le quizz", quizzes_path %><i class="fas fa-chevron-right"></i>
      <% else %>
        <%= link_to "Passer au cours suivant", course_path(@next_course) %><i class="fas fa-chevron-right"></i>
      <% end %>
    </div>
  </div>
</div>
